body{
    max-width: 1368px;
    height: 900px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #000;
    color: #fff;
    padding: 0 25px 0  25px;
}
.logo{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: cursive;
    margin-left: -10px;
}
a{
    color: #fff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:not(:last-child){
    margin-right: 20px;
}
.first__tittle{
    margin-left:17px;
}
.first__blocks{
    height: 455px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.first__paragraph{
    margin-left: 22px;
}
.first__card{
    border: 1px solid rgb(0, 0, 0);
    width: 417px;
    height: 250px;
    margin-left: 23px;
    margin-bottom: 23px;
}
.card__tittle{
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 50px;
    margin-top: -20px;
}
.card__tittle > h2{
    padding:6px 0 0 10px;
}
.card__paragraph{
    padding-left: 10px;
    width: 390px;
    padding-top: 30px;
}
.footer{
    background-color: #000;
    height: 100px;
    margin-left: 0px;
    margin:96px  23px 0 23px;
}
.footer__paragraph{
    color: #fff;
    padding: 30px 0 0 13px;
}
@media (max-width: 440px) {
    body{
        margin: 0;
        width: 440px;
    }
    header{
        width: 79%;
    }
    main{
        width: 100%;
    }
    .first__paragraph{
        width: 362px;
    }
    .first__card{
        width: 373px;
        height: 200px;
        margin-left: 18px;
    }
    .card__paragraph{
        padding-top: 8px;
        width: 343px;
    }
    .footer{
        position: relative;
        top: 64%;
        width: 91.4%;
        width: 410px;
        left: 0;
        margin-left: 0px;
        text-align: center;
    }
    .footer__paragraph{
        padding-top: 15px;
        padding-left: 2px;
    }
}
@media (max-width:768px) {
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .first{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first > .footer {
        justify-content: flex-end;
    }
    .first__blocks{
        display: flex;
        justify-content: center;
    }
    .first__paragraph{
        width: 90%;
    }
    .first__card{
        height: 200px;
        width: 400px;
    }
    .footer{
        position: relative;
        top: 568px;
        width: 100%;
        text-align: center;
        right: 22px;
    }
    

}
@media (min-width:1024px) {
    main{
        display: flex;
    }
    .first{
        width: 70%;
    }
    .first__card{
        width: 303px;
        height: 185px;
    }
    .card__paragraph{
        width: fit-content;
        margin-top: -10px;
    }
    .footer{
        width: 32%;
        height: 796px;
        margin-right: 5px;
        margin-top: 30px;
        text-align: center;
    }
}